<div class="header-container">
  <div class="header-content-container flex flex-col md:flex-row">
    <div class="logo-container flex flex-row">
      <h1>Felicity Craft</h1>
      <h2>PERSONAL PROJECTS</h2>
    </div>
    <button
      class="text-black cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block md:hidden outline-none focus:outline-none"
      type="button"
      (click)="toggleNavbar()">
      <mat-icon>menu</mat-icon>
    </button>
    <div
      [ngClass]="{ hidden: !showMenu, flex: showMenu }"
      class="md:flex md:flex-grow">
      <ul class="flex flex-col md:flex-row list-none ml-auto" style="text-align: center;">
        <li class="nav-item">
          <a class="px-3 py-2" routerLink="/" routerLinkActive="active">HOME</a>
        </li>
        <li class="nav-item">
          <a class="px-3 py-2" routerLink="/about" routerLinkActive="active">ABOUT</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- <nav class="relative flex flex-wrap items-center justify-between px-2 py-3 bg-violet-500 mb-3">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
    <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
      <button class="text-white cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button" (click)="toggleNavbar()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    
  </div>
</nav>` -->
