<div class="header-container">
  <div class="header-content-container flex flex-col md:flex-row py-7 px-2 md:px-24">
    <div class="logo-container flex flex-row" routerLink="/" routerLinkActive="active">
      <div class="text-5xl sm:text-7xl py-5 sm:py-8" style="font-family: Moontime;">Felicity Craft</div>
      <div class="text-base sm:text-xl">PERSONAL PROJECTS</div>
    </div>
    <button
      class="text-black cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block md:hidden outline-none focus:outline-none"
      type="button"
      (click)="toggleNavbar()">
      <mat-icon>menu</mat-icon>
    </button>
    <div
      [ngClass]="{ hidden: !showMenu, flex: showMenu }"
      class="md:flex md:flex-grow">
      <ul class="flex flex-col md:flex-row list-none ml-auto" style="text-align: center;">
        <li class="nav-item">
          <a class="px-3 py-2" routerLink="/" routerLinkActive="active">HOME</a>
        </li>
        <li class="nav-item">
          <a class="px-3 py-2" routerLink="/about" routerLinkActive="active">ABOUT</a>
        </li>
      </ul>
    </div>
  </div>
</div>
