@use "sass:math";
@import "../../../../breakpoints.scss";

.header-container {
  width: 100%;
    background: linear-gradient(
    90deg,
    rgba(228, 239, 234, 1) 0%,
    rgba(197, 219, 208, 1) 100%
  );
}

.header-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
}

.logo-container{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.menu-button-container {
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.menu-button {
  text-transform: uppercase;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 0.1em;
}

a:hover {
  color: white;
  text-decoration: none;
}

button:hover {
  color: white;
}