<div class="content-container">
    <div>
        <div class="left">
            <span class="circle-image">
                <img src="assets/images/felicity-craft.jpg" >
            </span>
        </div>
        <p>Hello kind stranger! Thank you for visiting my personal project website. I'd love to share my story with you so please read on to find out a bit about me.</p>
        <p>Over the past 12 years I've explored a variety of career paths, gaining a wide and varied range of skills while I was at it.</p>
        <p>I've worked as a barista, cake decorator and baker, receptionist, and administration manager. My need to constantly learn has sparked internal promotions, and becoming a business owner.</p>
        <p>Never one to sit still, I resigned from a comfortable position in March 2022 wanting to explore a new industry, learn new skills, and to carve a better path with more opportunities for myself.</p>
        <p>The remainder of 2022 was spent studying a myriad of skills across the software development tech stack including C#, ASP.Net Core, Angular, Typescript, HTML and CSS.</p>
        <p>In late December 2022 I launched my first website Moderation Kitchen, which you can find on my home page.</p>
        <p>Currently I am building another website using Angular and ASP.NET Core. Check back soon to explore it once it is completed.</p>
        <p>I'm now looking for an employer who can offer me the opportunity to learn and grow within their company. If this could be you, please get in touch. My contact details and CV are below.</p>
        <p>I hope to speak with you soon.</p>
    </div>
    <div class="contact-container">
        <h3>Curriculum Vitae:</h3>
        <a href="assets/documents/Felicity Craft CV December 2022.pdf" target="_blank">December 2022</a>
    </div>
    <div class="contact-container">
        <h3>Get in touch:</h3>
        <div class="detail-container">
            <p>Email:</p>
            <p>felicitycraft22@gmail.com</p>
        </div>
        <div class="detail-container">
            <p>Phone:</p>
            <p>021 0233 7944</p>
        </div>
    </div>
</div>
