<div class="content-container">
    <div>
        <div class="left">
            <span class="circle-image">
                <img src="assets/images/felicity-craft.jpg" >
            </span>
        </div>
        <p>Hello kind stranger! Thank you for visiting my website. Here you'll find details on my personal projects.</p>
        <p>Over the past 12 years I've explored a variety of career paths, gaining a wide and varied range of skills while 
            I was at it. I've worked as a barista, cake decorator and baker, receptionist, and an administration manager. 
            My need to constantly learn has sparked internal promotions, and becoming a business owner.</p>
        <p>Never one to sit still, I resigned from a comfortable career in March 2022 wanting to explore a new industry, 
            learn new skills, and to carve a better path with more opportunities for myself.</p>
        <p>October 2022 onward was spent studying a myriad of skills across the software development tech stack including 
            C#, ASP.Net Core, Angular, Typescript, HTML and CSS.</p>
        <p>In late December 2022 I launched my first website <a routerLink="/moderation-kitchen">Moderation Kitchen</a>, 
            a baking blog.</p>
        <p>I am currently building another website using Angular and ASP.NET Core. Check back soon to explore it once 
            it is completed.</p>
        <p>These new skills combined with my non-technical skills, and my willingness to learn, puts me in a good position 
            for an exciting career in technology.</p>
        <p>I'm now looking for an employer who is able to offer me the opportunity to learn and grow within their company. 
            I'm open to front end and/or back end development roles, project management, or anything in between.
            If this could be you, please get in touch. My contact details and CV are below.</p>
        <p>I hope to speak with you soon.</p>
    </div>
    <div class="contact-container">
        <h3>My CV:</h3>
        <a href="https://drive.google.com/file/d/1BemxUd1SPjDkE-ek5cQDrXdi2pkBDu6Q/view?usp=sharing" target="_blank">December 2022</a>
    </div>
    <div class="contact-container">
        <h3>Get in touch:</h3>
        <div class="detail-container">
            <a href="mailto:felicitycraft22@gmail.com">felicitycraft22@gmail.com</a>
            <a href="tel:02102337944">021 0233 7944</a>
        </div>
    </div>
</div>
