<div class="container flex flex-col sm:flex-row">
  <mat-card class="card-content">
    <div routerLink="/moderation-kitchen">
      <span class="circle-image">
        <img src="assets/images/moderation-kitchen-logo.png" />
      </span>
      <div style="padding: 15px 0px;">Moderation Kitchen</div>
      <button mat-raised-button>Read more</button>
    </div>
  </mat-card>
  <mat-card class="card-content">
    <div routerLink="/isaac-brown-photography">
      <span class="circle-image">
        <img src="assets/images/isaac-brown-photography.png" />
      </span>
      <div style="padding: 15px 0px;">Isaac Brown Photography</div>
      <button mat-raised-button>Read more</button>
    </div>
  </mat-card>
</div>
