<div class="content-container">
    <div class="content2-container flex flex-col md:flex-row">
        <div class="logo-container">
            <span class="circle-image">
                <img src="assets/images/isaac-brown-photography.png">
            </span>
        </div>
        <div class="text-container">
            <h2>Isaac Brown Photography</h2>
            <p>
                Isaac Brown Photography is a website for a photographer. It consists of a web application which shows available
                prints, these prints can be added to, or removed from a cart, and items in the cart can be purchased.
                <br>
                The web application is implemented using Angular.
                <br>
                Print related data is stored in a JSON file which is served by the web server which hosts the application.
                <br>
                Cart related data is stored in the browser's local storage.
            </p>
        </div>
    </div>
    <div class="content2-container flex flex-col lg:flex-row">
        <div class="image-container" >
            <img [src]="src" (click)="openImageDialog()">
        </div>
        <div class="link-container">
            <div>
                <h4>Website design</h4>
                <p>I designed the user interface for this website using Sketch.<br>
                Here's a link to the design from which the website was implemented.</p>
                <a href="https://drive.google.com/file/d/1TVoBNfWxYR0-VDSDnNStGO8yLxVNtOB_/view?usp=sharing" target="_blank">Isaac Brown Photography Sketch design January 2023</a>
            </div>
            <div class="website-container">
                <h4>GitHub repositories</h4>
                <a href="https://github.com/felicity-craft/isaac-brown-photography" target="_blank">Front end app</a>
            </div>
            <div class="website-container">
                <h4>Website links</h4>
                <a href="https://isaac-brown-photography.pages.dev/" target="_blank">Isaac Brown Photography</a>
            </div>
        </div>
    </div>
</div>
