@use '@angular/material' as mat;
@include mat.core();

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

// Fonts
@import 'https://fonts.googleapis.com/icon?family=Material+Icons+Outlined';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

@font-face {
    font-family: Moontime;
    src: url(assets/fonts/moontime-font/moontime-regular-webfont.woff);
}

html, body { height: 100%; }
body { margin: 0; font-family: Rubik, "Helvetica Neue", sans-serif; min-height: 100%;}


a {
    color: black;
}

a:hover {
    color: #C5DBD0;
}

a:visited {
    color: black;
}
