@import "../../../../breakpoints.scss";

.container{
    margin: 0px auto;
    
    @include media("<s") {
        width: 100%;
        padding: 12px;
    }
    @include media(">=s")
    {
        width: 540px;
    }
    @include media(">=m") {
        width: 720px;
    }
    @include media(">=l") {
        width: 960px;
    }
    @include media(">=xl") {
        width: 1140px;
    }
    @include media(">xxl") {
        width: 1320px;
    }

}

.page-container {
  background-color: white;
  padding: 70px 70px;
  border-radius: 0px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 30px;
}

